<div class="main">
　<section class="fuman text-white">
  　<P class="fuman">ヒューマン</P>
  <div class="container">
    <img class="fuman-top" src="fuman-top.jpg" alt="fuman">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a href="#warroad" class="nav-link active" data-toggle="tab">ウォーロード</a></li>
      <li class="nav-item"><a href="#paladin" class="nav-link" data-toggle="tab">パラディン</a></li>
      <li class="nav-item"><a href="#treasurehunter" class="nav-link" data-toggle="tab">トレジャーハンター</a></li>
      <li class="nav-item"><a href="#hawkeye" class="nav-link" data-toggle="tab">ホークアイ</a></li>
      <li class="nav-item"><a href="#sorcerer" class="nav-link" data-toggle="tab">ソーサラー</a></li>
      <li class="nav-item"><a href="#bishop" class="nav-link" data-toggle="tab">ビショップ</a></li>
    </ul>
    <div class="tab-content py-4">
      <div id="warroad" class="tab-pane active">
        <img class="warrod" src="fuman-2.jpg" alt="warrod">
        <h3>ウォーロード</h3>
        <p></p>
      </div>
      <div id="paladin" class="tab-pane">
        <img class="paladin" src=55768_c.png alt="paladin">
        <h3>パラディン</h3>
        <p></p>
      </div>
      <div id="treasurehunter" class="tab-pane">
        <p>う</p>
      </div>
      <div id="hawkeye" class="tab-pane">
        <p>え</p>
      </div>
      <div id="sorcerer" class="tab-pane">
        <p>お</p>
      </div>
      <div id="bishop" class="tab-pane">
        <p>か</p>
      </div>
    </div>
  </div>
</section>
  </div>
<aside class="sidebar">
  <section>
    <h2>種族</h2>
    <ul>
      <li><a href="/" class="list-fuman">ヒューマン</a></li>
      <li><a href="/" class="list-darkelf">ダークエルフ</a></li>
      <li>エルフ</li>
      <li>ドワーフ</li>
    </ul>
  </section>
  <section>
    <h2>記事一覧</h2>
  </section>
</aside>