<div class="main-battle">
  <section class="py-5">
    <h2 class="text-center mb-5 text-white bg-dark text-center">要塞戦とは</h2>
    <div class="container">
      <div class="mb-5 row">
        <div class="col-md-7">
          <h3></h3>
          <p>要塞戦は最大50人対50人の血盟同士で戦う大規模なPvPモード<br>
       勝利した血盟は要塞や占領報酬を手に入れられる<br>
       また、ポイントが一番高かったプレイヤーには切れ端が一枚報酬として手に入る</p>
        </div>
        <div class="col-md-5">
          <img src="IMG_0252.PNG" class="w-100">
        </div>
      </div>
    </div>
  </section>

<hr class="featurette-divider">
  
  <section class="py-5">
    <h2 class="text-center mb-5 text-white bg-dark text-center">勝利条件</h2>
    <div class="container">
      <div class="mb-5 row">
        <div class="col-md-7  order-md-2">
          <h3></h3>
          <p>要塞戦では30分以内に相手の聖物に刻印を完了させた血盟,または下記条件を満たした血盟が勝利します<br>
      1,聖物への総刻印時間がより長かった血盟<br>
      2,キル数の多かった血盟</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="IMG_0246.PNG" class="w-100">
        </div>
      </div>
    </div>
  </section>

<hr class="featurette-divider">
  
  <section class="py-5">
    <h2 class="text-center mb-5 text-white bg-dark text-center">要塞戦のマップ解説</h2>
    <div class="container">
      <div class="col">
          <img src="battle.jpg" class="w-100">
      </div>
    </div>
      <div class="mb-5 row">
        <div class="container text-center">
          <h4 class="mt-5 text-white bg-dark text-center">聖物</h4>
          <p>相手の聖物への刻印が先に完了した血盟が勝利、盟主のみが刻印できる</p>
          <div class="col">
            <img src="IMG_0246.PNG" class="w-100 col-md-10">
          </div>
        </div>
      </div>
      <div class="mb-5 row">
         <div class="container text-center">
          <h4 class="text-white bg-dark text-center">防御塔</h4>
          <p>敵にダメージを与える強固な塔<br>
             城門の両隣にある防御塔を破壊すると敵陣に入ることができる
          </p>
            <div class="col">
              <img src="IMG_0239.PNG" class="w-100 col-md-10">
            </div>
          </div>
       </div>
        <div class="mb-5 row">
          <div class="container text-center">
            <h4 class="text-white bg-dark text-center">回復の泉</h4>
            <p>周辺に行くと体力を回復してくれる泉</p>
            <div class="col"><img src="IMG_0247.PNG" class="w-100 col-md-10"></div>
          </div>
        </div>
        <div class="row">
          <div class="container text-center">
            <h4 class="text-white bg-dark text-center">風の祭壇、大地の祭壇</h4>
          <p>祭壇に刻印して占領している間は強化効果が発動します<br>
             ・一箇所占領時に攻撃力が10%増加<br>
             ・二箇所占領時に攻撃力が30%増加<br></p>
          <div class="container"><img src="IMG_0241.PNG" class="w-100 col-md-10"></div>
          </div>
        </div>
  </section>
</div>