<div class="main-oe">
  
  <div class="main-oe-title">
    <h1 class="oe-top">【リネレボ】<br>強化成功率やスクロールの必要枚数、<br>強化への考え方</h1>
  </div>
  
  <h2 class="text-white bg-dark text-center">武器強化早見表</h2>
  <p class="text-center">強化段階は下がり止まりがあり,10,20,30以下には失敗しても下がりません</p>
  
  
  <div class="oe-list">
  <div class="col-md-10">
  <table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="th-a">強化値</th>
      <th scope="col" class="th-b">成功確率</th>
      <th scope="col" class="th-c">スクロール<br>必要枚数</th>
      <th scope="col" class="th-d">マーブルの加護<br>必要個数</th>
      <th scope="col" class="th-e">必要アデナ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">0→1</th>
      <td>100%</td>
      <td>1</td>
      <td></td>
      <td>3400</td>
    </tr>
    <tr>
      <th scope="row">1→2</th>
      <td>100%</td>
      <td>1</td>
      <td></td>
      <td>3400</td>
    </tr>
    <tr>
      <th scope="row">2→3</th>
      <td>100%</td>
      <td>1</td>
      <td></td>
      <td>3400</td>
    </tr>
    <tr>
      <th scope="row">3→4</th>
      <td>90%</td>
      <td>1</td>
      <td>1</td>
      <td>3400</td>
    </tr>
    <tr>
      <th scope="row">4→5</th>
      <td>80%</td>
      <td>1</td>
      <td>1</td>
      <td>3400</td>
    </tr>
    <tr>
      <th scope="row">5→6</th>
      <td>70%</td>
      <td>2</td>
      <td>2</td>
      <td>16700</td>
    </tr>
    <tr>
      <th scope="row">6→7</th>
      <td>60%</td>
      <td>2</td>
      <td>2</td>
      <td>16700</td>
    </tr>
    <tr>
      <th scope="row">7→8</th>
      <td>50%</td>
      <td>2</td>
      <td>3</td>
      <td>16700</td>
    </tr>
    <tr>
      <th scope="row">8→9</th>
      <td>45%</td>
      <td>2</td>
      <td>3</td>
      <td>16700</td>
    </tr>
    <tr>
      <th scope="row">9→10</th>
      <td>45%</td>
      <td>2</td>
      <td>4</td>
      <td>16700</td>
    </tr>
    <tr>
      <th scope="row">10→11</th>
      <td>45%</td>
      <td>3</td>
      <td>4</td>
      <td>33400</td>
    </tr>
    <tr>
      <th scope="row">11→12</th>
      <td>45%</td>
      <td>3</td>
      <td>5</td>
      <td>33400</td>
    </tr>
    <tr>
      <th scope="row">12→13</th>
      <td>45%</td>
      <td>3</td>
      <td>5</td>
      <td>33400</td>
    </tr>
    <tr>
      <th scope="row">13→14</th>
      <td>40%</td>
      <td>3</td>
      <td>6</td>
      <td>33400</td>
    </tr>
    <tr>
      <th scope="row">14→15</th>
      <td>40%</td>
      <td>3</td>
      <td>6</td>
      <td>33400</td>
    </tr>
    <tr>
      <th scope="row">15→16</th>
      <td>40%</td>
      <td>4</td>
      <td>7</td>
      <td>33400</td>
    </tr>
    <tr>
      <th scope="row">16→17</th>
      <td>40%</td>
      <td>4</td>
      <td>7</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">17→18</th>
      <td>40%</td>
      <td>4</td>
      <td>8</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">18→19</th>
      <td>35%</td>
      <td>4</td>
      <td>8</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">19→20</th>
      <td>35%</td>
      <td>4</td>
      <td>9</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">20→21</th>
      <td>35%</td>
      <td>5</td>
      <td>9</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">21→22</th>
      <td>35%</td>
      <td>5</td>
      <td>10</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">22→23</th>
      <td>35%</td>
      <td>5</td>
      <td>10</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">23→24</th>
      <td>30%</td>
      <td>5</td>
      <td>11</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">24→25</th>
      <td>30%</td>
      <td>5</td>
      <td>11</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">25→26</th>
      <td>30%</td>
      <td>6</td>
      <td>12</td>
      <td>66700</td>
    </tr>
    <tr>
      <th scope="row">26→27</th>
      <td>30%</td>
      <td>6</td>
      <td>12</td>
      <td>100000</td>
    </tr>
    <tr>
      <th scope="row">27→28</th>
      <td>30%</td>
      <td>6</td>
      <td>13</td>
      <td>100000</td>
    </tr>
    <tr>
      <th scope="row">28→29</th>
      <td>25%</td>
      <td>6</td>
      <td>13</td>
      <td>100000</td>
    </tr>
    <tr>
      <th scope="row">29→30</th>
      <td>25%</td>
      <td>6</td>
      <td>14</td>
      <td>166700</td>
    </tr>
  </tbody>
</table>
</div>
    <small　class="text-left">＊防具強化は必要アデナは半分です</small>
  </div>
  
  <section id="oe-d">
  <div class="oe-description">
    <h2 class="text-white bg-dark text-center">強化の目安</h2>
    <p class="text-center">強化は人によって好みがありますが主な強化の仕方として0~20までの間は<br>
      ・強化値が14になるまではノーマルのスクロール,14からは祝福<br>
      ・17まではノーマルのスクロール、そこから祝福などのやり方があります<br>
これは強化値の15→16はスクロールの必要枚数が増える,18→19から確率が変わる<br>
      といった為です
    </p>
  </div>
  </section>
  
  <span class="d-block p-2"></span>
</div>